<phpunit backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./Bootstrap.php"
>
    <testsuites>
        <testsuite name="controllers">
            <directory>./controllers/TestIndex.php</directory>
        </testsuite>
    </testsuites>
</phpunit>